body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #111, #1f1f1f);
    color: white;
    text-align: center;
}

.card {
    max-width: 400px;
    margin: 30px auto;
    background: #0a091c;
    background-size: cover;      /* Faz ocupar toda a tela */
    background-position: center; /* Centraliza */
    background-repeat: no-repeat;/* Remove repetição */
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.profile {
    width: 113px;
    height: 113px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #ffffff;
}

h1 {
    margin: 15px 0 5px;
}

.city {
    color: #aaa;
    margin-bottom: 15px;
}

.whatsapp {
    display: inline-block;
    margin: 10px 0;
    padding: 6px 14px;
    background: #25D366;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.3s;
}

.whatsapp:hover {
    background: #1ebe5d;
}

.services {
    text-align: left;
    margin-top: 12px;
}

.services h3 {
    border-bottom: 1px solid #444;
    padding-bottom: 5px;
}

.services ul {
    list-style: none;
    padding: 0;
}

.services li {
    margin: 8px 0;
    padding: 8px;
    background: #333;
    border-radius: 8px;
}

.gallery {
    margin-top: 25px;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 15px;
}

.gallery-grid img {
    width: 100%;
    height: 110px;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.3s;
}

.gallery-grid img:hover {
    transform: scale(1.05);
}

footer {
    margin-top: 20px;
    font-size: 12px;
    color: #777;
}
